apache-airflow==2.1.3
apache-airflow-providers-apache-spark
pandas
pandasql
sqlalchemy
numpy==1.21.6
python-dateutil==2.8.2
pydrive
google-api-python-client==1.7.11
google-auth-httplib2==0.0.3
httplib2==0.13.1
pyasn1-modules==0.2.6
psycopg2-binary
tqdm
apache-airflow[yandexcloud] 
